/* Semua tombol */
div.stButton > button {
    min-height: 50px;
    font-size: 1.5rem !important;
    font-weight: 800 !important;
    border-radius: 12px !important;
    letter-spacing: 1px;
    transition: transform 0.2s;
}

div.stButton > button:hover {
    transform: scale(1.02);
}

/* PRIMARY BUTTON */
div.stButton > button[kind="primary"] {
    background-color: #2563eb !important;
    color: white !important;
    border: 2px solid #2563eb !important;
}

div.stButton > button[kind="primary"]:hover {
    background-color: #1d4ed8 !important;
    border-color: #1d4ed8 !important;
}

/* SECONDARY BUTTON */
div.stButton > button[kind="secondary"] {
    background-color: #000000 !important;
    color: white !important;
    border: 2px solid #ffffff !important;
}

div.stButton > button[kind="secondary"]:hover {
    background-color: #111827 !important;
    border-color: #ffffff !important;
}

.block-container {
    max-width: 100% !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}